@using OnlineShop.Models;
@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
    int serialNo = 1;
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp; New Product Type</a>
    </div>
</div>
<br />
<style>
    .table-info th
    {
        text-align:center;
    }
</style>


<div>
    <table class="table table-bordered">
        <tr class="table-info">
            <th>Serial No</th>
            <th>@Html.DisplayNameFor(c=>c.ProductType)</th>
            <th>Action</th>
           
        </tr>
        @foreach(var data in Model)
        {
            <tr>
                <td>@(serialNo++)</td>
                <td>@data.ProductType</td>
                <partial name="_ButtonPartial" model="@data.Id"/>
                @*<td>Edit | Details | Delete</td>*@
                
            </tr>
        }

    </table>
</div>
@section Scripts
{   
 
  <script type="text/javascript">
      $(function()
      {
            var add = '@TempData["add"]'
            if(add!='')
            {
                alertify.success(add);
               
            }
      })
  </script>
 
    <script type="text/javascript">
        $(function () {
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.warning(edit);
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var done = '@TempData["done"]'
            if (done != '') {
                alertify.error(done);

            }
        })
    </script>

}

