@using OnlineShop.Models;
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
    int serialNo = 1;
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp; New Product</a>
    </div>
</div>
<form method="post">
    <div class="row"> 
        <div class="col-3" >
            @*<label>Enter Low Amount</label>*@
            <input type="text"class="form-control" name="lowAmount"/>
        </div>
        <div class="col-3">
            @*<label>Enter Low Amount</label>*@
            <input type="text" class="form-control" name="largeAmount" />
        </div>
         <div class="col-3">
            <input type="submit" value="Search" class="btn btn-info" />
            
         </div>
    </div>
</form>
<br />
<style>
    .table-info th {
        text-align: center;
    }
</style>


<div>
    <table class="table table-bordered">
        <tr class="table-info">
            <th>Serial No</th>
            <th>@Html.DisplayNameFor(c=>c.Name)</th>
            <th>@Html.DisplayNameFor(c=>c.Price)</th>
            <th>@Html.DisplayNameFor(c=>c.ProductColor)</th>
            <th>@Html.DisplayNameFor(c=>c.IsAvailable)</th>
            <th>@Html.DisplayNameFor(c=>c.SpecialTagId)</th>
            <th>@Html.DisplayNameFor(c=>c.ProductTypeId)</th>
            <th>Action</th>

        </tr>
        @foreach (var data in Model)
        {
            <tr>
                <td>@(serialNo++)</td>
                <td>@data.Name</td>
                <td>@data.Price</td>
                <td>@data.ProductColor</td>
                <td>@data.IsAvailable</td>
                <td>@data.SpecialTag.SpecialTagName</td>
                <td>@data.ProductTypes.ProductType</td>
                <partial name="_ButtonPartial" model="@data.Id" />
                @*<td>Edit | Details | Delete</td>*@

            </tr>
        }

    </table>
</div>
@section Scripts
    {
    
    <script type="text/javascript">
        $(function () {
            var add = '@TempData["add"]'
            if (add != '') {
                alertify.success(add);

            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.warning(edit);
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var done = '@TempData["done"]'
            if (done != '') {
                alertify.error(done);

            }
        })
    </script>

}

